In [1]:
import pandas as pd                          #read in dataset

import nltk
from nltk.tokenize import word_tokenize      #split words from punct
#from nltk.tokenize import sent_tokenize     #split sentences from punct
#from nltk.tokenize import TweetTokenizer     #break apart content into it's most meaningful aspects
from nltk.probability import FreqDist        # how many of a particular word there are
from nltk.corpus import stopwords            #for removing filler words
from nltk.stem import WordNetLemmatizer      #turn a word into it's base dictionary form
from nltk.sentiment.vader import SentimentIntensityAnalyzer   # give numerical value to text

from string import punctuation               #list of puncuation marks

Assignment: Use the pandas library to read in the dataset. Create a function that will analyze the "Review Text" column and calculate a sentiment value. Make a new column in the dataframe that will contain the sentiment value for each review.

#### Read in dataset

In [2]:
#read in dataset
location = "women_clothing_review.csv"
df_wmn_cloth = pd.read_csv(location, encoding = "latin-1")

In [3]:
#veryify dataframe type
type(df_wmn_cloth)

pandas.core.frame.DataFrame

In [4]:
#look at dataset columns
df_wmn_cloth.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [5]:
#set 'Review Text' column to variable reviews
reviews = df_wmn_cloth['Review Text']

In [18]:
#look at first and last five rows of 'Review Tex' column
reviews[:5]

0    Absolutely wonderful - silky and sexy and comf...
1    Love this dress!  it's sooo pretty.  i happene...
2    I had such high hopes for this dress and reall...
3    I love, love, love this jumpsuit. it's fun, fl...
4    This shirt is very flattering to all due to th...
Name: Review Text, dtype: object

#### Create function

In [8]:
#create function that will analyze and clean text and calc sentiment value
def reviewSentiment(review):
    
    #make text lowercase
    review = str(review).lower()
    
    #tokenize the reivew
    review_wtk = word_tokenize(review)
    
    #remove punctuation
    for token in review_wtk:
        if token in punctuation:
            review_wtk.remove(token)
            
    #empty list to hold cleaned tokens
    clean_tokens = []
            
    #remove stop/filler words
    eng_stopwords = stopwords.words('english')
    for token in review_wtk:
        if token not in eng_stopwords:
            clean_tokens.append(token)
            
    #put sentences back together with clean tokens        
    clean_review = ' '.join(clean_tokens)
    
    #initialize function to do sentiment analysis
    sid = SentimentIntensityAnalyzer()
    
    #get polarity scores dictionary
    sid_rev = sid.polarity_scores(clean_review)
    
    #get sentiment polarity from 'compound' key in sid_rev dict.
    r_comp = sid_rev['compound']
    
    #return sentiment value
    return r_comp

In [17]:
#verify function performance
print(reviewSentiment(reviews[0]))
print(reviewSentiment(reviews[23484]))

0.8991
0.8272

#### Create new column for sentiment value

In [14]:
#create new column to hold sentiment value for each review
df_wmn_cloth['review_sentiment'] = df_wmn_cloth['Review Text'].apply(reviewSentiment)

In [19]:
#verify new column created correctly
df_wmn_cloth.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,review_sentiment
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,0.8991
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,0.9710
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,0.9062
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,0.9464
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,0.9117